section{
  padding-top: 250px;
}

.mat-toolbar{
  border-radius: 5px;
  background-image: linear-gradient(to right, #f56d65, #f34c40);
  color: #FFFFFF;
}

.loginButton{
  background-color: #f44336;
  color: #FFFFFF;
}