<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cadastrar Fornecedor</h4>
                        <p class="card-category">Preencha os campos abaixo</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="fornecedorFormGroup">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Insira o Cpf ou Cnpj" formControlName="cpfCnpj">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome Completo" type="text" formControlName="nome">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Telefone" type="text" formControlName="telefone">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div formGroupName="endereco">
                                <div class="row">
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput #cep placeholder="Cep" type="text" formControlName="cep" (blur)="consultaCep(cep.value)">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Logradouro" type="text" formControlName="logradouro">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Número" type="text" formControlName="numero">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Bairro" type="text" formControlName="bairro">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Município" type="text" formControlName="localidade">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="UF" type="text" formControlName="uf">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit(this.fornecedorFormGroup)">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
