<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cadastrar Orçamento</h4>
                        <p class="card-category">Preencha os campos abaixo</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="orcamentoFormGroup">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selecione um Cliente</mat-label>
                                        <mat-select formControlName="cliente">
                                            <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                                                {{cliente.nome}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selecione um Fornecedor</mat-label>
                                        <mat-select formControlName="fornecedor">
                                            <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor">
                                                {{fornecedor.nome}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Selecione um Produto</mat-label>
                                        <mat-select formControlName="produto">
                                            <mat-option *ngFor="let produto of produtos" [value]="produto">
                                                {{produto.titulo}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <input matInput name="quantidade" placeholder="Informe a quantidade"
                                               formControlName="quantidade">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status">
                                            <mat-option *ngFor="let status of statuses" [value]="status">
                                                {{status}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                    (click)="onSubmit(this.orcamentoFormGroup)">Cadastrar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
